header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

header p, time {
    color: #FFF;
    font-weight: 500;
    font-size: 16.2px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}